/* 회원가입 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: Noto Sans KR;
}
.wrapper{
    position:relative;
    /* border: 1px solid black; */
    width: 500px;
    height: 800x;
    margin: 0 auto;
    font-family: Noto Sans KR;
    text-align: center;
}
.wrapper>h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #FC4C57;

}
.alert{ 
    /* 유효성검사 안내 영역 */
    /* 유효성검사에 걸릴 때만 출력 */
    width: 380px;
    margin: 0;
    text-align: left;
    font-size: 14px;
}
#input1234{
    width: 395px;
    margin: 0 auto;
}
#input1234>input{
    width: 380px;
    height: 51.13px;
    border: none;
    background: #EDEDED;
    margin-bottom: 10px;
    padding: 0 0 0 15px;
    color: #989898;
}
#bdaybox{
    padding: 0;
    text-align: left;
    width: 395px;
    margin: 0 auto;
}
#bday{
    width: 226px;
    height: 51.13px;
    border: none;
    background: #EDEDED;
    margin-bottom: 10px;
    padding: 0 15px;
    color: #989898;
}
#bdaybox>label{
    font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
}
#termbox{
    width: 395px;
    margin:0 auto;
    text-align:left;
    font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
}
#signupBtn{
    width: 395px;
    height: 51.13px;
    padding: 0;
    border:none;
    color:#fff;
    margin-bottom: 10px;
    background: #FC4C57;
}
#back{
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #989898;
}

a{
    text-decoration: none;
}
a:link{
    color:#989898;
}
a:visited{
    color:#989898;
}
a:hover{
    color:#989898;
}