@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html{
    /* 부드럽게 스크롤 */
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}
.entire{
    /* padding: 10px; */
    width: 1026px;
    margin: 0px auto;
    display: flex;
    /* padding:10px; */
}
h1{
    margin: 0;
}
nav{
    float: left;
    padding-top: 168px;
    background-color: #FC4C57;
    position: sticky;
    top:0px;
    width: 271px;
    height: 700px;
    /* left: 72px; */
    text-align : center;
    color:white;
}
#navSubTitle{
    margin:0 auto;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    line-height: 16px;
}
nav>#name{
    margin:0 auto;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
}
nav>.menu{
    margin-top: 70px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
a{
    text-decoration: none;
}
a:link{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color:#FFBBC0;
}
.contents{
    float: left;
    position: relative;
    width: 732px;
    /* background-color: lightgray; */
}

section{
    position:relative;
    height: 760px;
    background-color: white;
    margin-bottom: 30px; /*전체 섹션 간 거리*/
    overflow: hidden; /*부모 벗어난건 가리기*/
    color: black;
}
/*홈 외의 섹션*/
.section{
    padding-left: 66px;
    padding-top: 80px;
    /* height: 700px; */
}
.text-transitionLeft{
    /*요소 왼쪽에 숨겨두기*/
    transform: translateX(-380px);
    opacity: 0;
    transition: all .6s ease-out;
}
/* .text-transitionRight{ */
    /* 요소 오른쪽에 숨겨두기 */
/* } */
.active{ /*스크롤하면 원래대로 돌아옴*/
    transform: translateX(0);
    opacity: 1;
}
#home>#titleBox{
    padding-top: 150px;
    padding-left: 50px;
}
#titleBox>#stars{
    position:absolute;
    left: 487px;
    top: 116px;
}
#titleBox>#mainImage{
    width: 527px;
    height: 422px;
    padding-left: 151px;
    padding-top: 27px;
}

#home>#titleBox>h1{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #FC4C57;
}
#home>#titleBox>span{
    font-family: Noto Sans KR;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 26px;
}

#introduce>h3{
    margin : 0px;
}



.title{
left: 66px;
top: 104px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 61px;

display: flex;
align-items: center;

color: #385A64;
}

.section>.line{
    width: 85px;
    height: 0px;
    border: 1px solid #385A64;
}
.listDiv{
    padding:10px;
    height:350px;
    text-align: center;
}
#about>.listDiv>ul{
    padding-left : 0px;
}
#about>.listDiv>ul>li{
    list-style: none;
    float: left;
    margin: 60px 50px 0 50px;
    text-align: center; 
}
#about>.listDiv>ul>li>img{
    width: 100px;
    height: 100px;
}
#about>.listDiv>ul>li>h3{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    margin : 10px 0;
    color: #BC3946;
}
#about>.listDiv>ul>li>p{
    font-family: Noto Sans KR;
font-style:normal;
font-weight: 400;
font-size: 12px;
line-height: 17px;
text-align: center;
margin : 0;
color: #000000;
}
#introduce>h3{
    font-family: Noto Sans KR;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 43px;
display: flex;
align-items: center;

color: #FC4C57;
}
.particle{
    margin-top:50px;
    margin-bottom: 50px;
}
.pimage{
    float:left;
    width: 232px;
    height: 159px;
}
.pimage:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.1s;
}
.pcontext{
    float:left;
    margin-left : 15px;
}
.ptitle{
    margin: 0;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #BC3946;
}
.pdesc{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.ppeople{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}
.pskill{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}

.loveimg{
    width: 135px;
    height: 135px;
}
#lovediv>ul{
    padding: 0px;
}
#lovediv>ul>li{
    list-style: none;
    float : left;
    text-align: center;
    margin-top: 100px;
    margin-right: 20px;
}
#lovediv>ul>li>h3{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #BC3946;
}
#lovediv>ul>li>p{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

#roadmap{
    margin-bottom: 0px;
}
.roadDiv{
    width: 635px;
    height: 112px;
    margin: 50px 0;
}
.roadDiv>img{
    width: 100px;
    height: 100px;
    float:left;
}
.roadTextbox{
    margin-left: 20px;
    width: 492px;
    float:left;
}
.roadTextbox>h3{
    margin: 0;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}
.roadTextbox>p{
    margin: 0;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
}
